[2016-02-24 19:33] mehcode opened #1 "Merge open and switch commands into one finder (to shift-enter and enter actions on a single finder)"

[2016-02-24 19:34] mehcode opened #2 "Add keybindings"
`Ctrl-Alt-p` was what it was in sublime on linux

[2016-02-24 19:34] mehcode opened #3 "Focus is not returned to the editor"

[2016-02-24 19:35] mehcode opened #4 "Support Atom v1.5 and v1.6"
- [x] Discover projects
- [x] Switch to project (in the same window)

[2016-02-25 05:35] #4 closed

[2016-02-25 05:35] #3 closed

[2016-02-25 05:49] #1 closed

[2016-02-25 05:49] #2 closed

[2016-02-25 07:38] mehcode opened #5 "Making a new project from an existing window"
Currently this package works great on existing projects. To make a new project you need to use the open folder command and that creates a new window. A `project-plus:new` command would be nice.

[2016-02-25 07:39] mehcode opened #6 "Sort project finder by MRU (most-recently-used)"

[2016-02-25 07:39] mehcode opened #7 "Utilize alternate scoring engine (fuzzaldrin-plus)"

[2016-02-25 07:44] mehcode opened #8 "Better (mostly visual) support for multiple paths"
Adding/Removing a path to a project makes a new project with the current path set joined with the new path. It leaves the old project in the project finder.

This is intended behavior in the state store of atom (as states are keyed by the path array). This is not necessarily a bad thing for crash restore.. but it's a bit odd.

Still mulling about how to fix this nicely. My current idea is to add a

[2016-02-25 07:48] mehcode opened #9 "Add ability to remove/archive projects"

[2016-02-26 10:46] shemerey opened #10 "include/exclude project in a list"
I would like to implement include/exclude functionality, so your opinion is really important.

General idea is implementing some kind of `.gitignore` functionality. It can be setting in a plugin itself or config file in `Atom` config dir.

Main goal is to add basic filtering functionality `include/exclude` and clean up project list

[2016-02-26 11:58] mehcode commented on #10
Hmm.. Sort of a whitelist / blacklist type deal? That makes sense. I could see a glob list for include/exclude in the configuration of this package. Definitely like the idea. I work primarily out of a `~/Workspace` directory (because reasons and old habits die hard). It could be nice to only show projects that are in that directory.

![image](https://cloud.githubusercontent.com/assets/753919/13351

[2016-02-26 12:21] shemerey commented on #10
@mehcode thx, will do it

[2016-02-29 07:39] vasa-chi opened #11 "Uncaught TypeError: Cannot read property '0' of undefined"
[Enter steps to reproduce below:]

1. Open Atom
2. Click Ctrl-Cmd-P

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.4.2

### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-29 16:51] mehcode commented on #11
Thanks for the report. You've apparently got an editor state serialized that has a valid project object but `atom.project.paths` is null. Strange. I assumed it'd be `[]` in this case but eh.. more things you find out.

If someone wants to fix this we just need to check for `row.project.paths?` where we check for `row.project?`. I should get to it later tonight. See: https://github.com/mehcode/atom

[2016-02-29 21:04] mikekolganov commented on #11
@mehcode Thanks for troubleshooting instruction!

[2016-03-02 19:18] #11 closed

[2016-03-02 19:18] mehcode commented on #11
@mikekolganov Thanks for stepping up to fix this.

[2016-03-02 19:48] vasa-chi opened #14 "Uncaught TypeError: Cannot read property 'replace' of undefined"
[Enter steps to reproduce below:]

1. Ctrl-Cmd-P
2. Input something into search input
3. Remove everything in the search input

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.4.3

### Stack Trace

Uncaught TypeError: Cannot read property 'replace' of undefined

[code]

### Commands

[code]

### Config

[2016-03-02 21:05] mehcode commented on #14
Wow.. I would love to see your editor state. Hmm.

The error is saying that you have a project state such that it's path array is `[null]`. That seems like some package you've used in the past corrupted the state. I've adjusted the package to make extra sure we don't look at state that is corrupted like that.

Thank you for working through this and let me know if you have another problem.

[2016-03-03 07:13] vasa-chi commented on #14
I use https://atom.io/packages/project-manager for now, so maybe it causes the state error? Still, I disable it when I try your plugin :)

[2016-03-03 07:20] mehcode commented on #14
Heh. No idea. A collegue got the same error as well and I don't think he used it either. Although he had several dozen packages installed so it could be anything.

Anyway.. did this fix it for you?

[2016-03-03 08:16] vasa-chi commented on #14
Hmm, no, still getting it.

[2016-03-03 08:56] mehcode commented on #14
Ah. I forgot a case. Should have a fix pushed soon.

[2016-03-03 09:00] mehcode commented on #14
@vasa-chi Can you give 0.5.0 a try?

[2016-03-03 09:01] mehcode commented on #10
Thanks for the addition. I made some small adjustments to it; let me know what you think of it.

[2016-03-03 09:01] #10 closed

[2016-03-03 09:16] vasa-chi commented on #14
Yep, works fine now. Thanks!

[2016-03-03 09:17] mehcode commented on #14
:clap:

[2016-03-03 09:17] #14 closed

[2016-03-03 09:29] #6 closed

[2016-03-03 09:41] mehcode opened #15 "Add ability to rename (set a name for) a project"

[2016-03-03 10:35] hultberg opened #16 "Projects found from inside an already found project"
Hello

After testing the package out I found that when viewing the projects found it looks recursively(?). And if I have a folder with the same name inside an project folder it shows up multiple times, example:
[code]

[2016-03-03 10:38] shemerey commented on #16
@hultberg it's related with https://github.com/mehcode/atom-project-plus/issues/10 and https://github.com/mehcode/atom-project-plus/pull/12 and last changes in path resolving, I am woking on a new example to show for @mehcode Will finish it soon

[2016-03-03 10:47] mehcode commented on #16
I don't think this is that @shemerey

---

There is only one reason why a project would show up "multiple times". It's because you have the same path in more than one "state". In other words, at some point in time (before you installed this package) you opened up `/home/user/workspace/project1` then added `/home/user/workspace/project1/include/project1` as another folder to that project. That will

[2016-03-03 10:54] mehcode commented on #8
Would love some ideas on how to make the finder look nice for multi-path projects.

[2016-03-03 11:03] mehcode commented on #16
Wait.. after re reading your question it looks like I misun

[2016-03-03 11:03] mehcode commented on #16
Wait.. after re reading your question it looks like I misunderstood. What you're seeing just means that at one point in time you've opened up that inner folder with atom. #9 is your friend then. That's pretty simple and will get done next.

[2016-03-04 21:00] Pholey opened #19 "Project plus does not update enough state"
When i use project plus along side with stylus + pigments, i get all of my stylus variables in my auto-complete for one of my random projects ive worked on rather than the variables for the current project.. Pigments _also_ still recognizes the color as well, even though it doesn't exist in the project

[2016-03-05 02:21] Pholey opened #20 "Every time i switch a project, The file browser pops up"

[2016-03-05 06:19] #19 closed

[2016-03-05 06:19] #20 closed

[2016-03-05 07:26] #5 closed

[2016-03-06 01:49] sadovnychyi commented on #15
Why would you want to add such kind of complexity in this package? In my opinion the project names should be simply a string with list of folders in this project.

[2016-03-06 05:02] mehcode commented on #15
Currently, that is exactly what the project name is. It's just `path.basename` over each project folder joined with commas.

This was just an idea to be able to add an explicit name. I wouldn't use it myself, but maybe someone wants it.

Project-plus is supposed to extend projects however it can if it adds value. If you or anyone else has any ideas, that's what this issue board is for.

[2016-03-06 11:47] VincentGuinaudeau commented on #8
Here is one idea.

In order to keep the simplicity of the display, you add a little indicator like "(and N more)" on the right of the basepath.
If the user want to see the full list of path, a command (bind to the right arrow ?) will expand the tile to display all the paths.
A tree view could be use to improve readability.

[2016-03-07 19:47] XanderXAJ opened #21 "No projects listed when whitelist is empty"
I'm using Atom 1.6.0-beta7 on Windows.  I recently upgraded to Project Plus 0.7, and found all my projects had disappeared!

On a hunch I added `~` to the whitelist, and the projects within the home directory are now listed.  To have everything showing, I'll need to add each drive (C:\, D:\).  Good ol' Windows...

Would you agree that if the whitelist is empty, no whitelist behaviour should occur?

[2016-03-07 22:42] mehcode commented on #21
Definitely. This is a bug.

@shemerey ?

[2016-03-08 04:52] benw01 opened #22 "Uncaught TypeError: Cannot read property 'map' of undefined"
[Enter steps to reproduce below:]

1. start atom
2. press ctrl+alt+p

**Atom Version**: 1.5.4
**System**: Ubuntu 15.10
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.7.0

### Stack Trace

Uncaught TypeError: Cannot read property 'map' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-08 21:49] mehcode commented on #21
@XanderXAJ I can't reproduce this. If you can reproduce this again, can you open the developer tools `View -> Developer -> Toggle Developer Tools` and run `atom.config.get("project-plus.folderWhitelist")` and `atom.config.get("project-plus.folderBlacklist")` in the console?

[2016-03-08 21:50] mehcode commented on #16
@hultberg Can you update to the latest version of project plus (0.7.0) and let me know if the recent changes fix things enough for you? I'm going to close this for now.

[2016-03-08 21:50] #16 closed

[2016-03-08 21:59] #22 closed

[2016-03-08 21:59] mehcode commented on #22
Thanks for reporting this @benw01; let me know if there are any other issues.

[2016-03-09 00:07] XanderXAJ commented on #21
Sure thing.  I cleared the whitelist config, ensured the issue was reproduced, then ran the following:

[code]

[2016-03-09 03:46] shemerey commented on #21
@XanderXAJ @mehcode I don't have windows, but it looks like a `bug` will install `Windows` in VM and check this out, fix should simple :)

[2016-03-09 06:22] mehcode commented on #21
If not I can test this on Windows (didn't even think about the OS; heh) at work tomorrow. I have Windows 10 on another partition.

[2016-03-09 07:38] shemerey commented on #21
@mehcode @XanderXAJ yes it's defiantly a bug, `minimatch` doesn't recognize `" "` on `Windows` properly

[2016-03-09 07:53] shemerey commented on #15
@mehcode BTW I just want to ask you, what do you think about support external project configuration, for instance if project contains `project.json` or `project.yml` etc. we can just load it and apply to current project. Something like http://editorconfig.org/

This way we can keep `atom-project-plus` clean and simple

[2016-03-09 08:55] mehcode commented on #21
@XanderXAJ Please update to 0.7.2 and let us know if this is still a problem.

[2016-03-09 08:55] #21 closed

[2016-03-09 09:05] mehcode commented on #15
@shemerey I'm not sure what exactly you're asking. What kind of configuration / etc.

When doing something like this we need to remain aware of the project vs. project folder distinction.

---

There is a package -- [project-view](https://github.com/subesokun/atom-project-view) -- which reads in a name from bower/package/etc. and replaces tree view folder / project folder name with it.

---

On wh

[2016-03-09 09:10] XanderXAJ commented on #21
Thanks @mehcode @shemerey, I'm now getting all projects listed! :)

If this is a problem with `minimatch`, consider raising an upstream bug?

[2016-03-09 09:20] shemerey commented on #15
Yes it's better to define what kind of behavior will be expected. I was thinking about atom - per - project setup. For instance you have project where you want to use specific version of `rubocop` or enable/disable some packages.

for me it looks like

[code]

again I think it needs some time to rethink, I just found an old discussion about [Layered Configuration
](https://discuss.atom.io/t/layere

[2016-03-09 09:21] mehcode commented on #21
We were essentially doing this:

[code]

... for each path in your project. If the whitelist was an empty string. If I was the maintainer of minimatch I'd tell us to fix our usage. It's an odd thing that it didn't error on linux; it doesn't even look valid.

[2016-03-09 09:47] mehcode opened #24 "Uncaught TypeError: Cannot read property 'isUnloading' of undefined"
[Enter steps to reproduce below:]

Switch to another project or close the current project with any open buffers (tabs).

**Atom Version**: 1.7.0-dev-bf5dea0
**System**: linux 4.4.3-1-ARCH
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.7.2

### Stack Trace

Uncaught TypeError: Cannot read property 'isUnloading' of undefined

[code]

### Commands

[code]

#

[2016-03-09 09:50] mehcode commented on #15
On configuration.. reading more into atom we can already do `per-scope` (language) configuration (eg.. enable a python package only when in a python file or make the font size 24pt when in a javascript file).

If we want per-project configuration.. it seems possible. We'd add a `Project Plus: Open Project Config`  command. This would open a JSON document of the current project configuration.. that

[2016-03-09 10:20] #24 closed

[2016-03-09 12:42] shemerey commented on #15
`2` and `3` Looks good, as for me it make sense to move project specific configuration to atom core, since `atom` cares about projects.

[2016-03-09 13:21] XanderXAJ commented on #21
Fair enough!  I hadn't gotten around to looking at the underlying code.  Thanks for the explanation — and the fix!

[2016-03-10 11:07] webcaetano opened #25 "[Noob Question] How do i save a project?"
Hello guys.
Awesome job.

How do i save an project? :cry:

[2016-03-10 11:09] shemerey commented on #25
@webcaetano  what do you mean by `save` ? It works with any project what have ever been opened by Atom.

[2016-03-10 11:16] webcaetano commented on #25
@shemerey that answer the question.  :tada:
Thanks.

I had an fresh atom installed....open only one project... and it shows empty , then i got lost.

I was only waiting this feature to come out on atom to i migrate to it.

[2016-03-10 11:16] #25 closed

[2016-03-10 19:26] mehcode commented on #25
@webcaetano Also note that you can use `Ctrl-Shift-P` (command menu) to execute the `Project Plus: Open` command to switch to a new project by selecting one or more folders on the file system.

[2016-03-21 16:19] frederic-jomedia opened #26 "does not work since atom 1.6"
Since 1.6 I have this error

[2016-03-21 18:08] mehcode commented on #26
Any chance you got a red box and can hit the create issue button on it?

[2016-03-22 13:52] frederic-joventures commented on #26
actually it is working now. Strange because I had the error on all my computers.
I will close it for now.
Tx for the quick response

[2016-03-22 13:52] #26 closed

[2016-03-22 17:08] mehcode opened #27 "Project Panel / Sidebar"
Continued from https://discuss.atom.io/t/future-of-project-viewer/26898

---

From what I can see, the basic/initial idea is a sidebar/panel of projects.

---

@jccguimaraes
@bripkens

[2016-03-22 22:39] mehcode opened #28 "Merge with Project Manager"
@danielbrodin

If we start with this codebase and add:

- [x] Read from both the state store AND projects.cson (by default).

- [x] Explicit "save" command — just serializes the current state to the state store AND adds it to projects.cson

- [x] Config to only show explicitly saved projects — So only read from projects.cson instead of reading from the state store AND projects.cson. Need a good co

[2016-03-23 07:41] mehcode opened #29 "Remove blacklist and rename the whitelist config to make it more visible"
@shemerey

More on blacklist in specific. As I talk to people that use this package, I find that nobody uses blacklist and everybody either uses whitelist or wants to use it (and doesn't understand that it is what it is).

- [x] Remove blacklist
- [ ] Rename whitelist to `Project Home` (or similar/better name) with a slightly adjusted description.

[2016-03-23 07:43] jccguimaraes commented on #27
Hi, one of the main ideas for _project-viewer_ was indeed the sidebar, as the available options did not give me all I need

[2016-03-23 07:45] mehcode commented on #28
On naming ideas for the configuration option: `Hide Unsaved Projects` or `Autodiscover Projects`.

[2016-03-23 07:49] shemerey commented on #29
@mehcode agreed. Will take a look

[2016-03-23 08:01] mehcode commented on #27
I guess the next question would be ..

What can / does project-plus need to do / not do that you feel it needs to / project-viewer does?

Followed by ..

We should talk about your ideal sidebar and what it makes it awesome.
- Is it just being able to select a project to switch to via the mouse?
- Would it be improved to add some meta information to the sidebar (last updated, etc.)
- Is a right pan

[2016-03-23 08:54] shemerey commented on #27
It's possible to reuse `tree-view` i've done some experiments with it https://github.com/shemerey/atom-tree-view-bundler

It's not so hard to implement `left`, `right`, `top`, `bottom` or even modal panel for project side bar

`BTW` What do you think about **Slack** like sidebar, when you able to jump back and force by `Cmd+1` `Cmd+2` etc.

[2016-03-23 21:43] mehcode commented on #29
Awesome. We just need the rename now. :+1:

[2016-03-23 22:18] mehcode opened #31 "Discover projects inside of project home (previously named whitelist)"
Recursively look for all repositories. Put this behavior behind a configuration flag. Also put it behind a timed cache (perhaps).

---

https://github.com/prrrnd/atom-git-projects

@prrrnd Would you like to merge efforts here?

[2016-03-23 22:19] mehcode opened #32 "Show git information on each project (on the project finder)"

[2016-03-24 05:45] mehcode opened #33 "Convert to ES6"

[2016-03-24 05:51] #29 closed

[2016-03-24 05:53] mehcode opened #34 "Add config to package json"
https://github.com/atom/whitespace/commit/31ab2d4bdf38f7c780947b1947e4f28ef2200fb3

[2016-03-24 06:05] mehcode opened #35 "Add info notifications"
- [ ] When a project is saved
 - [ ] When a project is activated / switched to

[2016-03-24 07:29] prrrnd commented on #31
Hi @mehcode,
I don't have so much free time to maintain atom-git-projects, but feel free to dig into the code and extract things you need. It's under the MIT license.

[2016-03-24 08:02] mehcode commented on #31
What would be your criteria / feature list that project-plus does not do that git-projects does? I'm looking to create a _single_ project package. As projects are such an important part of most users' workflow -- it'd be awesome if we can get all the eyes in one place.

---

From looking at your project, I get the following:
- [ ] Discover projects via recursive searching for (git) repositories
-

[2016-03-24 08:45] mehcode commented on #28
@shemerey Can you give master a run and see what you think?

[2016-03-24 09:05] mehcode opened #36 "Call for Ideas"
What is missing from your workflow when dealing with projects in Atom? What is the pain point? I'd like to try to create a better project experience in Atom. The more :eyes: the better.

---

@shemerey
@subesokun
@jccguimaraes
@danielbrodin
@bripkens
@vellerefond
@Lixquid
@prrrnd
@danielmahon
@t9md
@crot4lus
@guileen
@chuckhendo
@chocoelho
@hokaccha
@Ener-Getick

---

I mentioned everyone from a 2

[2016-03-24 09:28] jccguimaraes commented on #36
I'm up for this if we reach a reasonable quorum! :+1:

[2016-03-24 09:37] vellerefond commented on #36
I agree, this is a very nice initiative.

On Thu, Mar 24, 2016 at 11:05 AM, Ryan Leckey notifications@github.com
wrote:

[2016-03-24 15:01] shemerey commented on #36
One of the missing feature is `project root detection`, it's bother me all the time when I work on a project and [accidental/by purpose] open a sub directory of this project, but in 99% I do care about `project` folder only if it has `.git`

[2016-03-24 17:54] #34 closed

[2016-03-24 23:47] chuckhendo commented on #36
For me, the reason I created Project Quick Open was because I don't believe there were any other project packages for Atom at the time (or there were and they just didn't meet my needs, can't remember).

The primary thing that differentiates PQO from other packages I've seen is that it doesn't try to do anything complicated with storing projects in a JSON file or having additional settings; it jus

[2016-03-25 00:32] chuckhendo commented on #7
Would also be great to have the fuzzy search include the path name (at a much lower priority than the name). I was just researching integration of fuzzaldrin-plus into project quick open, so I can tackle this if you haven't already started on it @mehcode

[2016-03-25 00:38] chuckhendo commented on #7
It would also be nice to highlight in bold (or a darker font color or something) the characters that match the search. I could also look into adding this

[2016-03-25 00:52] mehcode commented on #7
@chuckhendo :clap: Awesome. I haven't started this at all. We should assign issues to ourselves so we don't step on toes. The issue list on here is just me shooting out ideas. If I start on something I was marking it as in-progress but the assignment works better with multiple people.

[2016-03-25 00:59] chuckhendo commented on #7
Can't seem to assign to myself; assuming because I'm not a contributor

[2016-03-25 01:07] mehcode commented on #36
The primary thing that project-plus was started to solve was project switching in-window. No package seemed to have a good solution as Atom (before 1.4 I want to say) used to be very tightly bound with its initial loadSettings (which were encoded in the querystring of the webview). Atom as of 1.7 can switch projects in-window with 2 lines. There are some glitches as other packages don't support it

[2016-03-25 01:08] mehcode commented on #7
Fixed that :cake:

[2016-03-25 01:18] chuckhendo commented on #36
Exactly. And this is already really, really close to what I want... closer to what I want than the current version of PQO actually. I'm going to use this for the next 24 hours or so, and if I'm still liking everything, I'll deprecate PQO and point it's users here.

I would like the ability to disable that discovery though, if needed. I often times end up working on... strange folder structures. I

[2016-03-25 01:20] mehcode commented on #36
First, install master. It has a ton of changes not released yet as we're finalizing them.

We have two things to help there. There is a "Project Home" option that will limit the scope of discovery. There is also a checkbox to disable auto discovery.

[2016-03-25 01:20] chuckhendo commented on #7
Awesome! Should be able to take a look at it this weekend

[2016-03-25 02:11] chocoelho commented on #36
I'll give it a try. I've read this package description and it covers
pretty much project-switcher functionality.

I'm gonna use it for the next week and maybe deprecate project-switcher2.

Great initiative! I'm willing to help anyway I can.

On 03/24/2016 10:20 PM, Ryan Leckey wrote:

[2016-03-25 07:14] #35 closed

[2016-03-25 07:55] mehcode commented on #27
@shemerey I must have missed your comment.

The important part here (before we get ahead of ourselves and implement the sidebar) is to figure out why @jccguimaraes or @bripkens wanted a sidebar in the first place. I'm not seeing the need. Not that I don't want to do it. I just want to better understand the original why so we can perhaps better address the root want/need.

[2016-03-25 08:02] shemerey commented on #27
@mehcode my guess is they want to be able to see `The whole picture` it can be useful if you are working on a group of projects `and don't remember particular name`

For instance you have one relatively big project with tons of `micro` projects/services/libraries inside, and you want to visualize it somehow.

As for me I primarily use `fuzzy search` but something like https://github.com/mrodalgaar

[2016-03-25 23:55] danielbrodin commented on #36
Well, the Project Manager package that I believe was the first project manager package available provides the functionality that I need + some more. The only thing missing have been opening a project in the same window, and that have not been available until now with the solution that you have provided. Every other package have done it wrong, hence why I haven't included it. As you know and have s

[2016-03-26 00:32] chuckhendo commented on #36
I think a lot of users are intimidated by making PRs, and it's easier to mess around with stuff in their own little sandbox. This isn't necessarily the RIGHT attitude to have, but it's something I've seen a lot of. Other times I think it's a difference of philosophy in how the core functionality of the package should work that leads to alternatives being developed.

As for my package (https://gith

[2016-03-26 01:42] mehcode commented on #36
I started this project as a fork of project manager. I had one idea after another and split off. I was going to try to merge back but I reached a number of features that I felt at the time would be hard to push into an existing codebase as long lived as project manager. @danielbrodin Nothing against your package but sometimes it takes a new / clean codebase to spike a new / radical idea (in this c

[2016-03-26 09:52] VZout opened #41 "Disabling auto discover not working."
Disabling Auto Discover Projects does not work. I still get these to projects which are not located in my projects.cson http://i.imgur.com/lZjesSR.png

[2016-03-27 10:06] GuilhemN commented on #36
Thanks for this initiative but I'm not sure that's a bad thing to have several packages doing project management.
For example [`recent-projects`](https://github.com/EXSyst/recent-projects) discover new projects only when you open them (this may be painful at the beginning but it is much better for me after some time as you can choose exactly which folder to save).
I also prefer a tab instead of a

[2016-03-31 14:46] gee-forr opened #42 "Uncaught TypeError: Cannot read property 'paths' of undefined"
1. `$ apm install project-plus`
2. open atom
3. hit cmd+ctrl+p

notes: I've also attempted to disable auto-discovery and manually save projects, and I still get this problem. Hope you can help.

Hit me up if you need extra info to help debug.

**Atom Version**: 1.6.1
**System**: Mac OS X 10.11.4
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.8.0

### Stac

[2016-04-02 17:13] gee-forr commented on #42
Hey, just a quick update from my side.

I uninstalled and reinstalled the package, thinking it was something silly like that, but no dice. Still not working :( I've also since updated to Atom 1.6.2, and I'm getting the same error.

Hope it's something simple to fix. Please don't forget, hit me up anytime if you need extra debug info.

Thanks :)

[2016-04-02 17:22] mehcode commented on #42
@gee-forr I haven't forgotten. I've just been otherwise occupied (my wife just gave birth to our first child 3 days ago). Heh. So I've been a bit busy.

One of these upcoming evenings I'll be working on OSS stuff (to be honest I do this mostly to decompress). I'll take a look then, unless @shemerey can look into it.

[2016-04-02 17:26] gee-forr commented on #42
Oh wow! Congratulations man!!! My apologies, I didn't want to seem like I was pressuring you to fix this. I just wanted to give you a heads up.

Parenthood > Helping some internet rando with an editor plugin. Every single time.

Take care dude and look after your family, and thanks for all your hard work in the atom community. It's very appreciated.

[2016-04-02 17:28] jccguimaraes commented on #42
@mehcode that's great! Enjoy everytime! it's worth it! :baby:
I have a 15 month boy so I know the challenges to come to _our_ world!

[2016-04-04 06:31] shemerey commented on #42
@gee-forr @mehcode travel a lot at this time, will try to take a look on a weekend, @mehcode congrats with a child

[2016-04-14 11:31] mehcode commented on #42
@gee-forr Published v0.8.1 with a fix (possibly) -- re-open this if it still occurs for you.

[2016-04-14 11:31] #42 closed

[2016-04-14 11:43] mehcode commented on #41
I can't reproduce this. Can you make sure you're on v0.8.2 and then show me your project plus config and your projects.cson file. I tried adding those paths so that discover would find them but didn't add them to projects.cson -- they do not show up in the finder.

Also.. what Atom version are you using? And does upgrading to 1.7.x help (it's stable now)?

[2016-04-14 11:44] #28 closed

[2016-04-14 11:49] mehcode commented on #36
@Ener-Getick Big picture here. Project management is only slightly different for everyone. I fully believe we can cover the 99% here. Let me go over your points.

This does that with the auto discover option turned on (which it is by default).

A toggle-able tab/panel/etc. would be a perfect addition to this package. I'd accept a PR here.

This isn't super clear in the readme but `shift-enter` wil

[2016-04-14 12:48] gee-forr commented on #42
Thanks! No longer receiving the error. Really appreciate it.

Hope all is going well with your new born son :)

[2016-04-14 12:50] gee-forr opened #43 "Reading projects out of projects.cson not working"
Hey,

So, the latest patch fixes the exception, but I can't seem to get the project switcher to list any projects... I've checked my projects.cson file, and it's getting populated, but when I cmd+ctrl+p, I get an empty list with a status of 'No saved projects'.

Let me know if I can give you any debug info at all.

[2016-04-15 11:09] gee-forr commented on #43
Howdy,

Just thought I'd give you a little more data:

I'm using Atom 1.7.1 and Project Plus 0.8.2

PP config:

[code]

projects.cson:

[code]

[2016-04-15 16:56] ghost commented on #36
Hello, I'd like to chip in on the "project configuration" bit as it hasn't been touched much yet. I'll try to keep the information as short as possible but there unfortunately is a lot to mention, please excuse my wall of text ;-).

##### Who am I?

I maintain the php-integrator-\* packages, which in short words index a project and do various things with its information (such as autocompletion, to

[2016-04-15 18:36] mehcode commented on #43
Can you try renaming your project home to `/Users/gabrielf/Projects/` ?

[2016-04-15 18:54] gee-forr commented on #43
Hey, that fixed it. Sorry, really dumb of me. I've issued PR #44 just to make it clear to any potential future users that have this issue.

Thanks for the help dude.

[2016-04-15 18:54] #43 closed

[2016-04-18 02:00] stugol opened #45 "Uncaught SyntaxError: Unexpected token /"
[Enter steps to reproduce below:]

1. Install the plugin
2. Press ctrl-cmd-p

**Atom Version**: 1.7.1
**System**: Mac OS X 10.10.5
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package, v0.8.2

### Stack Trace

Uncaught SyntaxError: Unexpected token /

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-20 05:09] nixpulvis commented on #9
I don't find myself needing to do this that often, but it's a feature I could _really_ use. I hate clutter.

[2016-04-20 14:25] markmcintyre commented on #41
I'm having the same issue. I disabled auto discovery, but projects that aren't in my projects.cson are appearing. I first encountered this issue when I renamed a project folder to another. The old name continues to appear.

[2016-04-21 14:52] jeancroy commented on #7
Yeah fuzzaldrin api wasn't designed to support multiple search field. But I seen that request popup at a few place so I may add it. Will probably support weighting the fields too.

[2016-04-21 19:05] marfarma commented on #41
Newly installed and my projects.cson contains only `{}`  -- setting autodiscover to off has no effect.

Searching the repo shows this in the changelog:

[code]

Suggests that projects.cson needs to be created / maintained by another plugin, atom project manager -- or manually.  If so, documentation needs to be improved to say so.

[2016-04-23 20:02] krisis-nl commented on #41
It seems that added project folders in the past count as 'saved projects'. You can clear the history by deleting the editor entries in the ~/.atom/storage folder. This is what worked for me at least.

[2016-04-25 14:49] markmcintyre commented on #41
Clearing out ~/.atom/storage worked for me as well.

[2016-05-08 15:46] danielbayley commented on #36
@Ener-Getick @mehcode See #46. 👍

[2016-05-08 20:25] #7 closed

[2016-05-09 00:11] danielbayley commented on #36
Personally I would like to see this and _project-manager_ merged. They are very close now, with only minor differences. This one _functions_ better, while project-manager feels more polished.

I think movement towards a _local_ `project.cson` rather than the global `projects.cson` (which should maybe be phased out?) is the right way to go. Also, optionally `.project.cson` or even JSON for the Coff

[2016-05-13 06:10] mehcode commented on #36
I see a couple issues. The `projects.cson` file serves as a marker that lists "saved" projects (to be picked up instead of just looking for projects without auto discovery). Second is that a project can have one or more folders, how would that look? Which folder would have the local `project.cson`? One more is that several people don't care for editor/ide files in the git repo so it'd be once more

[2016-05-13 06:14] #41 closed

[2016-05-13 06:17] #45 closed

[2016-05-13 06:29] mehcode commented on #15
This is possible via `projects.cson`

[2016-05-13 06:29] #15 closed

[2016-05-13 06:51] #9 closed

[2016-05-13 06:53] mehcode opened #47 "Add project title to the window title"
https://github.com/danielbrodin/atom-project-manager/issues/10

[2016-05-13 12:27] psifertex commented on #9
Was this closed resolved or wontfix? I was subscribed as well because my project list has some screwy stuff in it I'd like to cleanup.

[2016-05-13 17:20] ghost commented on #36
I realize now that usually you don't use multiple root folders to actually have multiple folders of the same project open at the same time, you rather have multiple projects open at the same time. For example, suppose you have an XMPP client and server, which are two seperate projects (and hence have two different folders in the file browser), but you may still want to visually have them open at t

[2016-05-13 18:09] mehcode commented on #9
@psifertex This was added to v9.0

[2016-05-16 22:17] kyldvs opened #48 "Feature Request: Allow adding nuclide remote project paths"
It would be great if this worked well with Nuclide and remote server development. Right now my `projects.cson` has remote files that look like this (substitute in your server's IP/port):

[code]

When I switch to this project I always have to manually add this path back to the file-tree. Ideally it would be automatically added.

I'm not familiar enough with any of this to know whether this is some

[2016-05-27 19:17] gnestor opened #49 "Clear auto-discover cache"
To reproduce: Rename or delete a project/git repo that is being auto-discovered by project-plus

Result: The deleted project still lingers in auto-discover list or the old name of the renamed project still lingers in the auto-discover list

[2016-06-02 08:38] Marecages opened #50 "Remove a project from the project-plus list"
Hello,

I inadvertently created a project which contains two folders (different projects) with atom.

When I remove the project folders from the left sidebar, this one project stays in the list when I I activate the keybinding 'CTRL+ALT+P'.

![ee](https://cloud.githubusercontent.com/assets/8795284/15738964/1cf00fac-28ae-11e6-8e47-c5afb4699348.PNG)

Do you have an idea to solve my problem ?
Thank y

[2016-06-02 09:55] mehcode commented on #50
`CTRL-ALT-P` -> `Project Plus: Remove` -> Hit enter on the selection you want to remove.

[2016-06-02 09:55] #50 closed

[2016-06-02 09:55] mehcode commented on #49
`CTRL-ALT-P` -> `Project Plus: Remove` -> Hit enter on the selection you want to remove.

[2016-06-02 10:51] Grazouillis commented on #50
Do you mean CTRL ALT P, right-clic on "delete" in the contextual menu ?
It doesn't work, I suppose that it isn't it.
Sorry, mehcode :/

![sans titre 1](https://cloud.githubusercontent.com/assets/8795284/15742657/9c6925ea-28c0-11e6-96c3-fa9fb70ad4ac.png)

Where do I find "Project Plus: Remove" there ?

[2016-06-02 17:06] mehcode commented on #50
Oh. I'm sorry. I meant `Ctrl-Shift-P` -- There is a `project-plus:remove` command in this package. That will open up the project finder but enter will remove the project rather than open it.

[2016-06-02 18:25] gnestor commented on #49
@mehcode I tried this and it doesn't remove the project... 🤔

[2016-06-02 18:37] Grazouillis commented on #50
Haaaaaaaaaaa ! :) Nice.
A thousand thanks !

[2016-06-02 20:50] mehcode commented on #49
@gnestor I had the command sequence wrong: https://github.com/mehcode/atom-project-plus/issues/50#issuecomment-223356520

Does that still not fix it?

[2016-06-02 21:21] gnestor commented on #49
Ya I tried `COMMAND PALLETTE` > `Project Plus: Remove` > `ENTER` on project and it still show up in the projects list.

[2016-06-02 22:57] mehcode commented on #49
Really odd. I can't reproduce this.
- Try clearing atom storage (the old pre-1.7 one) `rm -rf $HOME/.atom/storage` ?
- Try running `Project Plus: Edit Projects` and see if its sticking in there for some reason?
- `atom --clear-window-state` will clear atom's session cache (which should wipe out project-plus cache as well)

[2016-06-02 23:57] gnestor commented on #49
`atom --clear-window-state` cleared all of my projects. Now I just see the 2 that I've been working in today. This resolves my issue but how do I re-populate my auto-discovered projects?

[2016-06-12 10:01] trusktr opened #51 "Doesn't save projects."
Not sure how it works, but I set the "Project Home" setting to `~/.atom/session`, and then I run the `Project Plus: Save` command, which shows the green success notification, but when I press cmd-ctrl-p to see projects, the list is empty.

[2016-06-12 10:05] trusktr commented on #51
If I remove the setting, it works. Where is it saving the projects by default?  The UI doesn't show the default value:

![screen shot 2016-06-12 at 3 04 51 am](https://cloud.githubusercontent.com/assets/297678/15990547/74c29918-304a-11e6-83e4-0e80cffc5a5d.png)

[2016-06-12 10:33] mehcode commented on #51
@trusktr Hmm.. Perhaps the setting is badly worded. It's older and `Project Plus: Save` was added much later.

`Project Home` is strictly a filter for the project finder. Normal/default operation of project-plus uses auto-discovery and the setting is intended to reign in the auto-discovery to a single folder (and all its children).

Projects saved via `Project Plus: Save` are found in `~/.atom/pro

[2016-06-12 16:52] trusktr commented on #51
For sure. So with the default `Project Home` option, where does the state get saved (open tabs, panes, cursor location, etc)?

[2016-06-12 16:54] trusktr opened #52 "Projects saved but don't always appear in the list."
Here's a screenshot showing the `projects.cson` file. In the shot we see I'm looking for "mighty" and nothing appears in the list after typing "mighty".

![screen shot 2016-06-12 at 9 51 08 am](https://cloud.githubusercontent.com/assets/297678/15992541/9b033ee6-3083-11e6-8a24-0a7b2ac561c2.png)

[2016-06-14 23:35] polarathene opened #53 "Packages enable/disable?"
I'm not sure if this is a feature suitable for this package, if you know of an existing one that would compliment this package or request please let me know as searching for one is difficult due to keywords used.

I'd like to enable/disable packages per project or project type(based on files). This should avoid loading of packages not required for certain projects(language/environment focused pack

[2016-06-15 09:37] shemerey commented on #53
@polarathene Here is some links that can be helpful
- https://discuss.atom.io/t/project-specific-configurations/8407
- https://discuss.atom.io/t/layered-configuration/9373

You can participate in this discussion as well https://discuss.atom.io/t/layered-configuration/9373

[2016-06-15 09:37] #53 closed

[2016-06-17 18:00] garretwilson opened #54 "Way to update existing projects"
First let me say that project-plus does seem to be awesome.

But the way to update projects seems sort of clunky. If I turn off auto-discovery and have a project with the `D:\foo\` directory (on Windows 10, for example), I can save it and edit the projects and give it a cool name such as... `FooBar`! Now `FooBar` will appear in my projects when I want to switch.

But then I remember that I forgot

[2016-06-17 19:38] nanohard commented on #51
~~I'm having this issue as well. Could you upload an example `projects.cson`? That would solve my problem.~~

Okay, so I didn't know what the Command Palette was, so what?

[2016-06-18 12:14] dkerzig opened #55 "Project Discovery is slow"
Hey,
in the settings I've disabled to look for projects outside of the `projects.cson` and even though I have less than ten projects in there it always takes up to 2secs of `Discovering projects..` when I toggle project-plus menu. Is this considered as normal behavior? are the results cached in any way?

Regards from Germany,
Dennis

[2016-06-20 05:00] mehcode commented on #54
@garretwilson This can definitely be improved. Basically add/remove paths is an atom event that we can listen to in order to update the current project automatically in projects.cson. Atom Project Manager implemented this but I haven't ported it over yet.

https://github.com/danielbrodin/atom-project-manager/blob/faa5a97edfb01d1a501b8f7ef9100dbabbb5dcac/lib/project-manager.js#L37-L59

You're welco

[2016-06-20 05:01] mehcode commented on #52
@trusktr Currently the project home setting acts as a filter for the project finder. This issue makes me thing projects explicitly defined in projects.cson should show up regardless of the filter setting. Thoughts?

//cc @shemerey

[2016-06-20 05:03] mehcode commented on #51
@trusktr This package actually doesn't save your state. Atom does. You can find it by opening up developer tools, and going to resources. It's under IndexedDB.

---

@nanohard Did you figure out what you were trying to figure out?

[2016-06-20 05:04] mehcode commented on #49
I apologize if I wasn't clear. That clear command wipes the state permanently. You'll need to rebuild it by manually re-opening your projects or putting them in the projects.cson.

[2016-06-20 05:04] #49 closed

[2016-06-20 05:04] mehcode commented on #48
If this something we can support easily I'd be open to a PR.

[2016-06-20 07:45] shemerey commented on #52
yes, I think listed project has to be shown regardless `project home` option

[2016-06-20 07:50] mehcode commented on #52
Agreed.

[2016-06-20 10:03] valterhenrique opened #56 "How to delete old projects ?"
Hi, I worked with several projects, which I don't want to show up anymore when I tried to switch between projects. Is it possible to delete these entries ?

Thank you!

[2016-06-20 10:14] nanohard commented on #51
@mehcode Yeah, I thought the command palette was the same as what pops up when you press the keyboard shortcut for this plugin. Works great for me. Thanks for this.

[2016-07-13 18:25] quarterto opened #57 "DOM Exception when trying to close or switch projects"
I've not been able to pin down exactly when this happens and the console doesn't provide much detail. Seems to be when the current project has been open for a while and/or is quite large? Sorry this is vague.

<details>
<summary>`Uncaught (in promise) DOMException: Failed to execute 'put' on 'IDBObjectStore': An object could not be cloned.`</summary>
[code]

[2016-07-14 23:04] willdawsonme commented on #56
@valterhenrique There's a menu item (`Project Plus: Remove`) which will bring up the project finder view. Selecting any project from there will remove it!

[2016-07-16 00:21] download13 opened #59 "Finder shortcut no longer works"
I'm on Atom 1.8.0 and the Toggle Finder command doesn't seem to be working.

According to the Keybindings page Alt-Ctrl-P is used by the command `window:run-package-specs`. It seems to be occluding the project plus keybinding.

Is there a procedure in place for situations like this? Does someone change their default shortcut?

[2016-07-16 03:18] mehcode commented on #59
I have this happen when I install the package for the first time on a fresh atom. Restarting atom completely fixes it for me.

[2016-07-16 03:18] #52 closed

[2016-07-16 03:19] mehcode commented on #56
Thanks @willdawsonme

@valterhenrique Please re-open if that doesn't work.

[2016-07-16 03:19] #56 closed

[2016-07-23 11:18] Gert-dev opened #61 "Service to fetch project settings"
Hello

I already hinted at such a feature in another ticket ([1]), but wanted to make an official request for a (much) simpler version of it: currently there is a `project.cson` file that contains the title and paths of each project. It it also easy to edit this file by hand and add additional settings (i.e. specific to each project). Would it be possible to expose a service from this package that

[2016-08-05 00:25] airtonix opened #62 "Broken with atom 1.9.3"
flushed, cleared, wiped and committed all kinds of deep inside genocide action on my atom install.

Plugin still broken. stuck on  "Discovering projects" regardless of the command i use.

[2016-08-05 04:25] willdawsonme commented on #62
@airtonix Can you try again with 1.9.4?

[2016-08-13 00:39] GrantSP opened #63 "Project Plus: Toggle Project Finder is populated with useless entries"
When i call the Finder with <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>P</kbd> the resultant list is populated with many entries that I can't remove.
**projects.cson** contains only those projects that I have explicitly added and I can't see where these other entries are stored.

[2016-08-14 23:40] NetOpWibby commented on #54
Where _is_ `projects.cson`?

[2016-08-16 01:04] willdawsonme commented on #54
@NetOperatorWibby It's in your ~/.atom directory.

[2016-08-16 01:08] willdawsonme commented on #63
@GrantSP That is most likely due to Auto Discover, which you can turn off in the Project Plus settings! You should still be able to remove the discovered entries though if you'd like to keep Auto Discover on; there's an entry in the command palette (`Project Plus: Remove`) that will let you do so. Does that answer your question?

[2016-08-16 23:01] GrantSP commented on #63
Yes, that was it. Auto-discover is now disabled and the list of projects is showing only those that I explicitly save.
Thank you. That feature must override the Remove function because I simply could not Remove those projects using that command, they always reappeared.
I think this can be closed now. Thank you again.

[2016-08-16 23:01] #63 closed

[2016-08-17 01:34] willdawsonme commented on #63
@GrantSP Good to hear! Removing projects that were discovered should work and does for me on the latest Atom (1.9.8). If it keeps happening, feel free to open another issue and we'll have a look.

[2016-08-17 01:34] willdawsonme commented on #62
@airtonix I'll close this for now. If it's still happening on the latest Atom (now 1.9.8), please re-open.

[2016-08-17 01:34] #62 closed

[2016-08-17 03:17] willdawsonme commented on #57
@quarterto I've had this happen a few times too! I've just posted on an old issue in atom (https://github.com/atom/atom/issues/11608) and will investigate further next time it happens. For now, a restart should fix it.

[2016-08-18 06:38] Ben3eeE opened #64 "Error in deactivate: Cannot read property destroy of null"
Noticed this when I closed Atom with the dev tools open.

![pperror](https://cloud.githubusercontent.com/assets/1058982/17764246/6515b5be-651e-11e6-94cb-fa1d08068e8e.png)

[2016-08-19 11:50] ursbraem opened #65 "Filter by path"
Did I get it right that the ctrl-cmd-p filter just searches the main directory name, but not the project's path?

Because, my projects look like that in the project finder:

So if I type "clientC", the filtering is not applied.
And filtering by "live" would make no sense.
Is there a way to make the project finder search the entire path?

[2016-08-19 23:37] willdawsonme commented on #65
Currently the Project Finder only filters by name. I'd suggest first saving, then editing the titles of those projects to include the client's name: `Project Plus: Save` then `Project Plus: Edit Projects` in the command palette. It is something that could be added though if you still need it. Thoughts, @mehcode?

[2016-08-20 00:05] mehcode commented on #65
I seem to remember a TODO comment indicating this somewhere in the code base at one time (it's not there now). Anyway.. definitely in favor of this. We should rank an exact name match higher than a path match.

Relevant code to modify:

https://github.com/mehcode/atom-project-plus/blob/master/lib/project-finder-view.js#L124-L129

[2016-08-23 09:17] ursbraem commented on #65
Thanks for considering the feedback, great! And: I hadn't been aware of the save / edit option – works for me!

[2016-08-27 10:59] nextgenthemes opened #66 "Broken Ubuntu shortcode STRG+Alt+P not working."
Broken Ubuntu shortcode STRG+Alt+P not working.

[2016-08-27 11:02] nextgenthemes opened #67 "Ubuntu 16.04 Project Finder just shows "Discuvering Project ..." and nothing happens."
Ubuntu 16.04 Project Finder just shows "Discuvering Project ..." and nothing happens.

I open it via the command palette because the shortcut is not working for me.

I have saved projects.

[2016-08-27 11:03] nextgenthemes opened #68 "Linux shortcuts for Project Tab missing"
Linux shortcuts for Project Tab missing

[2016-08-29 00:39] chadwtaylor opened #69 "Switching between projects is extremely slow"
Every time I switch between projects, it takes about 5-10 seconds before I can start working in the switched project. Not sure what you will need from me to get some data on that?

[2016-09-15 13:35] #33 closed

[2016-09-23 10:40] nomoth commented on #51
I have the same issue but even with Project Home unset.
When I save the project, I got the green notification but the projects.cson file is not modified.
As a workaround I used project-manager to save the project.

[2016-10-03 22:31] rockethouse opened #71 "Show only WordPress theme paths"
Love this plugin, it's pretty impressive. But I'm getting lots of duplicates when searching for a project, it seems to pick up the root dir as well as the wp-content/themes dir. I'd love to only show the wp-content/themes path as thats what i'm working in 90% of the time but its always second in the list.

A toggle / setting for this would be awesome!

[2016-10-04 01:56] rockethouse opened #72 "Support for Terminal Plus"
Hi, Any chance we can get support for [Terminal Plus](https://atom.io/packages/terminal-plus) so that terminal tabs are closed and re-opened to the new working dir?

[2016-10-07 03:43] valter-silva-au commented on #56
Perfect! Thanks a lot @willdawsonme and @mehcode!
For those with the same problem, just press CTRL+SHIFT+P on Atom, and then search for Project Plus: Remove and select the project that you want to remove from it!

[2016-10-07 18:18] pt8o commented on #51
Same issue. I'm running project-plus completely vanilla. When I save I get the green checkmark, but when I go looking for them it says that no projects are saved.

[2016-10-08 16:46] willdawsonme commented on #51
@nomoth @suprko Any console errors in Atom's inspector (`View > Developer > Toggle Developer Tools`)?

[2016-10-08 16:51] willdawsonme commented on #64
Closing as I believe this was fixed in #70.

[2016-10-08 16:51] #64 closed

[2016-10-08 17:38] willdawsonme commented on #66
@nextgenthemes Do you know how international keyboard bindings resolve inside of Atom? If you could, toggle the keybinding resolver in Atom and see what `strg+alt+p` resolves to. There is an update to atom-keymap which should be release in atom core as a beta in the next week or so (https://github.com/atom/atom/pull/12697), so fingers crossed that helps. Your German keyboard layout isn't easy to t

[2016-10-08 17:39] willdawsonme commented on #68
@nextgenthemes Is this a duplicate of #66?

[2016-10-08 17:39] willdawsonme commented on #67
@nextgenthemes Can you see any console errors in Atom's developer tools?

[2016-10-08 17:43] willdawsonme commented on #71
@rockethouse If you have Auto Discovery on in Project Plus's settings, any project you open at least once will be visible in the project finder. That's my best guess as to why you're seeing duplicates. A suggestion would be to add both the root and themes directory to the same project, save it via the command palette (`Project Plus: Save`), and remove the auto discovered projects (`Project Plus: R

[2016-10-08 17:49] willdawsonme commented on #72
@rockethouse I actually find it quite useful that terminal-plus tabs stay open when switching projects! Any new tabs will open to the newly activated directory, but existing ones stay open, which is necessary for a long-running process like a node server.

I'm also not 100% sure that it's possible from our end, and it seems more likely that terminal plus would have to subscribe to a project activa

[2016-10-08 21:03] nextgenthemes commented on #68
No its not.

[2016-10-08 23:46] willdawsonme commented on #68
Could you please give some more info on the issue you're experiencing?

[2016-10-08 23:56] willdawsonme commented on #69
How long does Atom typically take to start up or open a project using `File > Open`?

[2016-10-08 23:58] willdawsonme commented on #55
Is this still an issue @dkerzig?

[2016-10-09 00:18] nextgenthemes commented on #68
May have to do with this: https://github.com/atom/atom/issues/2068 I can not trigger the shortcuts for tabs

ctrl-cmd-tab
ctrl-shift-cmd-tab

Not sure if this is the right way to declare them since PCs do not have a cmd key. If atom considers them cmd as super key I do not know. The documentations sucks regardless because cmd AFAIK is a mac specific key that what I filed this as "missing"

pressin

[2016-10-09 00:34] nextgenthemes commented on #67
[code]

The repeating is probably not related that one message come up continuously. The other one came up as I opened the project finder from the command palette.

[2016-10-09 00:39] willdawsonme commented on #68
Ah I see what you mean! They should probably be `ctrl-alt-tab` on windows and linux. I'll open up a PR for this.

[2016-10-09 01:04] willdawsonme commented on #67
Seems like there's an issue over on atom for this error (https://github.com/atom/atom/issues/11806). Possible causes are running beta and stable Atom side-by-side. There's a few resolutions listed too like clearing your state cache on startup and clearing Atom's DB. While there's not much we can do to fix the error, we should probably recover better by showing a message of some sort. I'll look int

[2016-10-09 01:08] nextgenthemes commented on #66
There is nothing international about STRG+ALT+P you call it CTRL+ALT+P was not thinking.

I installed the 1.11.02-beta5 anyway, noting changed.

Isn't the keyboard resolver popping up automatically, how do I use or trigger it? I two shortcuts showing up if i type ctrl-alt-p into the atom shortcuts thing, the one from project plus and this. Currently none work. This 'body' seems wrong to me. Isn't

[2016-10-09 01:25] willdawsonme commented on #66
You're right, `ctrl-alt-p` does seem to be a core keybinding. You can toggle the keybinding resolver with `ctrl-.` on linux. Could you check that `alt-shift-p`, `alt-shift-tab` and `ctrl-alt-shift-tab` are currently unbound on linux? As far as I can tell, they're unbound and would be a good alternative.

[2016-10-09 10:27] wottpal commented on #55
Sorry, can not confirm this. Stopped using this package.

[2016-10-09 10:57] willdawsonme commented on #55
Alrighty, I'll close this and if anyone experiences something similar, please create a new issue.

[2016-10-09 10:57] #55 closed

[2016-10-10 04:54] sebszocinski commented on #72
ah okay fair enough, that makes sense. Cheers for the response!

[2016-10-10 04:55] #72 closed

[2016-10-10 04:57] sebszocinski commented on #71
ah ok I can see why it would record the root dir then as I usually open that first when configuring w Movefile (WordMove) for a new project. All good I can work around it. Cheers

[2016-10-12 11:41] nomoth commented on #51
@willdawsonme one error for me but not sure it concerns project-plus:

[code]

[2016-10-16 00:50] willdawsonme commented on #51
@nomoth Yeah unlikely to be from this package! Just to clarify, no matter what project you try to save, you get the green success notification but `~/.atom/projects.cson` isn't updated and you don't see the new project in the list within atom?

A few things to check:
- What OS are using?
- What version of atom?
- Are there any pending updates for project plus?

Also, just to rule out another concl

[2016-10-17 20:13] xh3b4sd opened #78 "remove projects from project finder using backspace"
I checked out the package and I like it. What I find uncomfortable is that it is not possible to remove a project from the list by using the backspace key. On the other hand switching to the selected project using enter works. IMO there should be support to remove projects that way as well.

[2016-10-17 20:30] xh3b4sd opened #79 "uninstalled packages are still cached"
I am checking out how the plugin works. It happened that there have been loads of projects piling up in the list of packages I am able to remove. When I check the list of packages able to be removed using `project-plus:remove`, then there are even packages listed that are gone long already a time ago. Is this intended behaviour? I think such orphans can be cleaned up. I was wondering if there is s

[2016-10-23 21:43] rakeen opened #80 "Project Discovery Not Working"
`ctrl+alt+p` doesn't show any projects even after a couple of minutes; it keeps showing "Discovering Projects...". I only have 2 projects saved in `projects.cson` file.

I'm using Atom 1.9.9
Ubuntu 16.04
I've disabled `Auto Discover Projects`
![a](https://cloud.githubusercontent.com/assets/10359412/19629685/fceb3e02-999b-11e6-848c-e526a0165abb.gif)

[2016-11-29 06:55] kvaellning opened #81 "Errors if Atom is closed"
Just saw that the package throws errors if Atom is closed:
![Console.Log](https://cloud.githubusercontent.com/assets/7930583/20699732/24e3e524-b609-11e6-8fac-e74aef688ea8.png)

[2016-12-08 16:12] gnestor opened #82 "Blacklist projects with `.git` and `git-rebase` name"
I use Atom as my default text editor for git, so every time I `git commit --amend` or `git rebase`, git open a new Atom instance and that is added to project-plus's list of projects:

![image](https://cloud.githubusercontent.com/assets/512354/21017157/4ca10432-bd1d-11e6-8e1a-1189d3fc524b.png)

I'd like to blacklist these from project-plus. Do ya'll agree?

I'll work on a PR for this...

[2016-12-14 22:24] erbridge commented on #51
Running `Project Plus: Save` had no effect for me, too, but deleting the `projects.cson` and trying again fixed the issue. Possibly an issue updating the default file?

[2016-12-20 09:19] Hasnayeen opened #84 "Uncaught TypeError: Cannot read property '23' of undefined"
Uncaught TypeError: Cannot read property '23' of undefined

[code]

stacktrace:
[code]

[2016-12-23 00:20] dev169 opened #85 "When multiple tabs with the same file are open, "Project Plus: Close" is unable to close them"
Bug as above. The rest of the tabs/splits/etc are closed, but the tabs that point to the same file are left open. Closing one of them closes the other too.

Atom `1.13.0-beta8`
project-plus `0.9.0`

[2016-12-27 21:34] dev169 commented on #85
I've traced this back to [this function](https://github.com/mehcode/atom-project-util/blob/master/index.js#L116):

[code]

I've modified it like so and it seems to work correctly now:

[code]

I'm not sure if there any caveats with my approach,

[2017-01-05 08:28] lehtiniemi opened #86 ""No saved projects" displayed when "Auto discover projects" is off"
When I switch "Auto discover projects" to off, CTRL-ALT-P says "No saved projects" even though my projects-file shows the saved projects.

[2017-01-09 09:30] poomv2 commented on #51
Hi there, when you saying run `Project Plus: Save`, is that the actual command? If so, where do I run this?

Thanks Steve

[2017-01-16 09:38] evgeniy-webmaster opened #88 "Add autosave project."
Please, add autosave project feature when change the project to another one.

[2017-02-07 02:29] ThroughLee commented on #80
same here.And I'm using atom 1.12.4

[2017-02-16 03:59] terrycloth opened #89 "Document how to actually set per-project configurations"
I tried Project Plus first, and had a working project configuration. I then disabled Project Plus while I tried out a couple other project managers, before coming back to Project Plus. Now I can't figure out how I got the project config working before. I deleted the other project managers, reset Project Plus itself to its default settings by deleting properties in the global `config.cson` file, an

[2017-02-16 16:26] saidmoya12 commented on #80
Same issue with atom 1.14.2 include saved projects on Windows

[2017-03-09 16:54] jiminikiz opened #90 "Projects don't show up!"
Love this atom package, btw, works flawless in Windows.

I am currently using Linux Mint (Ubuntu Based Linux Distro) and projects are not populating when using the keyboard shortcut to show the list of saved projects.

I have auto discovery on, tried manually adding projects, which show up in `projects.cson`.

The drop down simply doesn't populate when pressing `Ctrl+Alt+P`.

[2017-03-12 18:11] andrewrynhard commented on #90
I am having the same issue.
[code]

[2017-03-18 21:30] ruv opened #91 "Project path without drive letter"
In case when a project path in `projects.cson` is specified without drive letter on Windows (i.e. path from the root folder in current drive), files are correctly shown but can't be properly opened from Tree View since destination file name is composed incorrectly. See the screenshot.

![image](https://cloud.githubusercontent.com/assets/2678296/24076153/ef3a338c-0c3a-11e7-87d3-69ff478697cf.png)

[2017-03-28 13:33] rjventrone commented on #90
I am having the same issue on Mac.
apm  1.15.3
npm  3.10.5
node 4.4.5 x64
python 2.7.10
git 2.12.1

[2017-03-29 09:04] zzjin commented on #69
same issue here, origin open project folder took less than 1s.

[2017-04-03 17:15] zreese opened #92 "Keybinding now working, 'Project Plus: Open' brings up Finder open dialog"
Pressing `ctrl-cmd-p` has no effect. Toggling Atom's command palette and selecting 'Project-Plus: Open' doesn't open the Project Plus box to select a project; the normal 'Application: Open' dialog pops up.

[code]

[2017-04-13 07:53] zzjin opened #93 "cannot work on Atom 1.17.0 beta"
RT
 can switch to new project but tree view was cleared.

[2017-04-19 16:42] jiminikiz commented on #90
It looks like the list populates when running `atom` with `sudo`.

[2017-04-21 09:55] shemerey commented on #93
same for me

[2017-04-24 17:20] jtmitchelliv commented on #90
I am having the same issue, and it only just started happening today. I have mine also setup in projects.cson.

First the path folders in the tree view started not showing up on a new project, and then the project switcher `Ctrl+Alt+P` stopped working.

[code]

[2017-04-25 09:55] xream commented on #93
This is caused by atom-project-util.

I made a new package for 1.17.0+: https://atom.io/packages/project-neue

[2017-04-26 21:26] jinglesthula opened #94 "Tooltips don't go away after switching projects"
If I hover over a file's tab and it displays the path tooltip and then switch to a different project before the tooltip disappears, it never goes away.  It doesn't respond to any mouse events, and if I switch back to the originating project and mouse over the same file and then away it still doesn't disappear (I suspect a duplicate tooltip is generated and removed, but the first one remains).

I c

[2017-05-04 08:37] vinyll commented on #93
Same issue here with Atom 1.17.
I've installed @xream's project-neue but it does not solve anything in my case.

Temporary solution is to move to the _project manager_ popular package in the meantime.

[2017-05-04 11:08] mehcode opened #95 "Deprecate in favor of project manager"
A lot of time has past and Project Manager (what I based this project on) now has most of the functionality of this package (including usage of atom-project-util which contains the project in-window switch by myself).

I'm seeing tons of issues crop up of this package not working for various reasons and while it still happily works on my machine (insert amusing "works here" comment) I'm not seeing

[2017-05-04 11:10] mehcode commented on #93
@xream Would you mind sending a PR to [atom-project-util](https://github.com/mehcode/atom-project-util) instead?  https://github.com/danielbrodin/atom-project-manager uses that as well for its project switching so if there is an issue with 1.17+ I'd be awesome to have the fix there.

---

@vinyll Since you seem to feel that is a temporary solution would you mind chiming in on #95 as to why?

[2017-05-04 11:23] vinyll commented on #95
Indeed I had not seen how much progress the Project Manager's settings had done.
I guess it does pretty much everything Project Plus does and has much more users.
Thanks for all the work done on this plugin and for the Atom users! ❤️

[2017-05-05 01:29] xream commented on #93
@mehcode to to honest, I don't have the time. I use this api `atom.restoreStateIntoThisEnvironment(state)` in 1.17+.

[2017-05-05 08:04] vinyll commented on #93
FYI I have the same issue with Project Manager when opening in the same window; the folders tree is empty.

[2017-05-24 15:06] McSodbrenner opened #96 "Switching projects fails in Atom 1.17.0"
In the Developer tools the following error appears:

[code]

[2017-05-25 18:28] jeffjarchow commented on #95
I thought the empty tree problem was something wrong in project-plus, so I switched to project-manager today to see if the empty tree problem was fixed and it was not. Seems to be an atom thing. But in doing so I see how much progress has been made on project-manager. It seems to fulfill all the needs of a project management package.

It looks like project-plus may not be needed with all of the fu

[2017-05-25 19:34] vinyll commented on #95
Same feeling here. However I downgraded back to 1.16 due to this bug.
(If you stick with 1.17, note that a workaround is to open the project in a new window (Shift+enter))

[2017-05-26 18:34] mehcode commented on #96
Fixed and released as v1.0

[2017-05-26 18:34] #96 closed

[2017-05-26 18:35] mehcode commented on #93
Fixed and released as v1.0

[2017-05-26 18:35] #93 closed

[2017-05-26 19:31] philoserf opened #97 "CHANGELOG is out of date"
https://github.com/mehcode/atom-project-plus/blob/v1.0.0/CHANGELOG.md

Last update was v0.8.0

[2017-05-26 19:56] mehcode commented on #97
Thanks for pointing it out. Though I don't really have the time to maintain this package, hence #95.

[2017-05-27 05:37] #97 closed

[2017-06-20 01:34] gtozzi commented on #51
Hi, I also can't save projects anymore. I get this:

[code]

[2017-07-04 09:51] fredrikekelund opened #98 "Switching projects breaks find-and-replace:select-next"
I've seen #95 and I've given [project-manager](https://github.com/danielbrodin/atom-project-manager) a spin, but what I want is just a quick way of switching workspace, and manually handling projects in project-manager is tedious, so I came back to project-plus. I hope you haven't deprecated it completely just yet.

The issue at hand is the fact that every time I switch projects, the `find-and-rep

[2017-07-04 12:47] McSodbrenner commented on #98
The same for me. And the same reasons why I cannot switch.

btw:  project-manager does have the same issue:
https://github.com/danielbrodin/atom-project-manager/issues/339

[2017-07-05 12:26] fredrikekelund commented on #98
Could [these lines](https://github.com/mehcode/atom-project-util/blob/master/index.js#L215-L217) in atom-project-util be the culprit?

[2017-07-05 17:28] mehcode commented on #98
Project Manager does support Git project detection though it's not implemented correctly (it detects at start of the editor and not when you open the project finder so it causes slowdowns in atom).

See https://github.com/danielbrodin/atom-project-manager/issues/345

---

@fredrikekelund Those lines could be it. I don't remember why they needed to be hacked before. Probably should have added that

[2017-07-10 10:18] daverogers commented on #95
Agreed. I now use Project Manager. Thank you :)

[2017-07-10 10:25] mehcode commented on #95
Going to close this issues in favor of https://github.com/danielbrodin/atom-project-manager/issues/345

[2017-07-10 10:25] #95 closed

[2017-07-13 15:39] billdami commented on #51
@gtozzi I'm getting the same exact error as you. Running latest version of project-plus and atom@v.18.0 x64 (macOS Sierra)

[2017-07-26 14:20] billdami opened #99 "Unable to save projects"
On Atom 1.18.0 (on macOS Sierra 10.12.6), I am unable to save projects via the 'Project Plus: Save' command. I get the following error in the Dev Console:

[code]

[2017-07-26 14:27] billdami commented on #99
Note that I am able to manually edit the ~/.atom/project.cson file to add new projects, and they are properly listed in the Atom UI, so it seems it just the Save operation itself that is broken.

[2017-08-02 13:02] slavaGanzin commented on #99
Same here:
[code]

[2017-08-03 07:09] davegri commented on #69
super slow for me as well any thoughts?

[2017-08-03 07:30] mehcode commented on #69
Can I have some details like:
 - How many files are open in Project A (switching away from) and Project B (switching to)
 - How many files in both, period
 - Installed packages

[2017-08-14 12:41] fredrikekelund commented on #98
I'm not encountering this issues in Atom 1.19.0 anymore. Does it work for you as well, @McSodbrenner?

[2017-08-14 14:56] fredrikekelund commented on #98
Scratch my last comment, it looks like the bug is still present 😞

[2017-08-19 15:22] jmolero commented on #69
At first it runs fast. Seems to become slower each time it's used until reaches the point where it freezes atom.

[2017-09-17 20:27] balderclaassen commented on #89
Being new to this extension I had no idea how to write this config file, so thanks for the example above. It works to track the project.There should indeed be an example either in the README or as comments at the top of the config file (preferably both in my opinion.)
As for those per project editor settings, I don't see any mention of such a feature in the README, is that not meant for another ex

[2017-10-10 10:06] davidbarredo commented on #99
I'm getting the same error:

`Uncaught (in promise) TypeError: _atomProjectUtil2.default.save is not a function
    at SessionProvider.save (/.atom/packages/project-plus/lib/provider/session.js:131:28)`

Atom 1.21.0
Windows 10

[2017-10-11 06:54] taime opened #100 "Dramatic degrade after switching projects (one switch takes 5 minutes!!!)"
Mac OS,
Atom 1.21.0
Project Plus 1.0.0

After switching projects  4-5 times, the process of  switching projects takes 4-5 seconds
After switching projects  14-15 times, one switch takes about **50-60 seconds**...
After switching projects  20-21 times, one switch takes about **7-10 minutes**...

So it's **imposible to use this plugin  after switching projects 8-9 times...**

[2017-10-11 06:59] #100 closed

[2017-10-11 07:00] taime commented on #69
Mac OS,
Atom 1.21.0
Project Plus 1.0.0

After switching projects 4-5 times, the process of switching projects takes 4-5 seconds
After switching projects 14-15 times, one switch takes about 50-60 seconds...
After switching projects 20-21 times, one switch takes about 7-10 minutes...

So it's imposible to use this plugin after switching projects 8-9 times...

[2017-10-26 03:04] xream commented on #98
fixed by reload `find-and-replace` https://atom.io/packages/project-neue

[2017-10-30 16:17] kevinisaac commented on #51
Project save doesn't save the project at all. I have a list of 6 projects showing when trying to find the projects but that's it. New projects aren't being saved.

[2017-11-09 23:57] brycefranzen commented on #99
Any fix for this yet?

[2017-12-12 22:21] robwierzbowski commented on #82
I came here looking for a solution to this exact problem. Any progress?

[2017-12-13 01:12] gnestor commented on #82
Check out the PR I submitted here: https://github.com/mehcode/atom-project-plus/pull/83

Maybe the maintainers just need a reminder to merge it 👍

[2018-01-23 08:43] Skeeve commented on #99
I cannot save projects as well, but no excption.

If only I'd knew how to edit the list of projects. What needs to go into the cson file?

[2018-01-23 09:08] davidbarredo commented on #99
This is an example of one project in my cson file:
[code]
Add as many as you need

Hope it helps 😉

[2018-01-23 09:36] Skeeve commented on #99
Thanks. I switched, for the moment, to project-manager 3.3.5

[2018-02-12 09:33] bguzmanrio commented on #99
The problem seems to be related to his own library, https://github.com/mehcode/atom-project-util
There is no such function as `save` exported from it.

Reviewing older commits, there was a function named `saveState` in the lib/provider/session.js in this project, which was working propertly. But as from 0.8.1 this function has disappeared and therefore it must have been failing since that release.

[2018-03-01 13:01] aamederen commented on #98
I have started to encounter this problem. I am using Atom 1.24.0 and `project-plus 1.0.0`.

[2018-04-23 10:48] IgnusG opened #101 "Uncaught TypeError: Cannot read property '34' of undefined"
1. Open a new .md file, pdf preview in a split pane and markdown preview from `markdown-preview` plugin in another split pane
2. Try closing project

**Atom**: 1.26.0 x64
**Electron**: 1.8.4
**OS**: linux 4.16.3-1-ARCH
**Thrown From**: [project-plus](https://github.com/mehcode/atom-project-plus) package 1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property '34' of undefined

[code]

###

[2018-04-26 16:27] jminuscula commented on #98
I'm also experiencing this issue with Atom 1.26.0 and macOS 10.13.4

Find and Replace work on new windows, but as soon as I change projects, the dialog stops showing up. Reloading the window fixes it.

[2018-04-27 05:51] fredrikekelund commented on #98
I'm experiencing the same issue as you @jminuscula. I've reported it in my previous issur https://github.com/atom/find-and-replace/issues/950. We'll see if someone picks it up, otherwise I'll open a new issue

[2018-05-02 11:08] jminuscula commented on #98
@fredrikekelund looks like this project is abandoned in favor of`atom-project-manager`. I've been using it for a few days without issues.

[2018-06-26 19:22] trusktr opened #102 "Where are projects saved?"
Hello, I tried cloning my `.atom` folder to another machine, but then all my sessions don't appear on that machine although all my projects are copied into the same paths as well.

The README mentions that Atom keeps track of projects, and project-plus just takes advantage of this.

Do you know where Atom saves this info, so that I can copy it over to my other machine?

[2018-06-26 19:23] trusktr commented on #102
I guess this is the "auto discover" feature. Where does it find those? (I don't have them in projects.cson)

[2019-04-08 09:36] pavelsr commented on #89
Seems like `~/.atom/projects.cson` absolutely does not work in latest Atom ( v `1.35.1` ).

If I press `Ctrl+Alt+P` I see this popup

![error](https://i.imgur.com/l64ZoW8.png)

Hovewer if I remove `~/.atom/projects.cson`  `Ctrl+Alt+P` shows list of projects.

[2019-05-10 10:32] sebastian-65 opened #103 ""Could not list projects" error"
Right after installation I tried to switch projects and got error: "Project Plus: Could not list projects".

- atom 1.36.0 / Xubuntu 16.03.3 LTS
- ~/.atom/projects.cson exists and is filled with valid projects (previously used with project-manager)
- same error appears no matter how I invoke the action (ctrl-alt-p / command)

[2019-06-19 17:59] slnt commented on #69
Any ideas on this @mehcode?

It kind of seems like the memory goes up and up and up each time you switch projects within the same window.

[2019-08-21 00:48] JPUnD opened #104 "No focus when switching projects"
Hi there,

I've noticed a small issue in the way the package behaves when switching projects (i wouldn't call it a bug), but whenever i switch from a project to another, not only the tree-view expands (which might be intended) but there is no focus on either the editor nor the editor, which is annoying when you are in a keyboard-driven system.

Because of that, i'm here to suggest a few features (

[2019-08-27 11:24] jpmvferreira commented on #104
I'm trying to create a workaround for this issue, and i begin by writing my own custom keybind with the set of actions that can be used to regain focus on the editor after switching projects, however it's not working as expected, here's the `init.js`:
[code]

I've tried several combinations of `tree-view:toggle` and `tree-view:toggle-focus` and none of them work.

If anybody could give me a hand h

[2019-09-10 23:05] JPUnD opened #105 "Unable to use find and replace after switching project"
This is going to be quite a weak issue, as this doesn't happen all the time and i am not able to find out why this happens, but sometimes after switching projects i am not able to use find and replace and i have to open another tab, only then will it be possible to do so.

If i find out anything else ill post it here.

[2019-10-16 18:22] YenHub commented on #90
I am also having the same issues on windows.

@mehcode Is this project still alive and well, if so, do you need any info from me to help debug?

[2019-10-30 12:52] turigeza commented on #105
I have the same issue. I have to switch to a new tab after switching project then everything goes back to normal until you switch project again.

I have a plugin which also suffers from this issue because it uses `observeActivePaneItem` to detect the tab change. I guess `observeActivePaneItem` does not get called when the project changes.

IMO observeActivePaneItem should get called when a project

[2020-08-15 15:25] tabareCapitan opened #106 "tabs disappear after changing projects (ctrl+Alt+P)"
Appear again after going to [tabs](https://github.com/atom/tabs) settings, disable, and enable.

[2020-09-11 08:32] sebastian-65 commented on #103
@mehcode Do you have any idea what might be wrong? Problem persists.

![image](https://user-images.githubusercontent.com/9447457/92893509-0517e300-f41a-11ea-8844-136669f4124e.png)

[2020-11-28 18:56] marbin65 commented on #56
I am a beginner and i have some projects in my Recents Project list that i want to delete. But i dont find a posibility to do this. Please can someone help me !?
I dont find the  menu item (Project Plus: Remove) !!

[2021-05-02 10:13] SamSavitz commented on #102
I have the exact same questions three years later.